.App {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

 .header{
   flex: 30%;
   background-color: tomato;
   
 }